:root{
    --clearColor1:#EAE7DC;  
    --clearColor2:#D8C3A5;  
    --clearColor3:#8E8D8A;  
    --clearColor4:#E98074;  
    --clearColor5:#E85A4F; 
}

.cart-body{
    padding: 2rem;
}

.cart-vacio p{
color: var(--clearColor3);
}

.cart-vacio Link{
color: var(--clearColor5);
}

.totalP{
    margin-top: 2rem;
    font-size: 1.5rem;
    flex: 1 1 40rem;
    padding: .5rem 1.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border: .1rem solid var(--clearColor2);
    background: #fff;
    border-radius: .5rem;
    color: var(--clearColor5);

}

.form-container{
    /* width: 70%; */
  
    margin-top: 2rem;
    font-size: 1.5rem;
    flex: 1 1 40rem;
    padding: .5rem 1.5rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border: .1rem solid var(--clearColor2);
    background: #fff;
    border-radius: .5rem;
}

.form-container h2{
    color: var(--clearColor5);
}

.form-container span{
    color: var(--clearColor4);
}
.epigrafe{
    color: var(--clearColor4);
    font-size: .8rem;

}

.dobleInput{
    display: flex;
    gap: 1rem;
}

.inputLog{
padding: 1rem;
font-size: 1rem;
color: var(--clearColor3);
text-transform: none;
border: .1rem solid rgba(0,0,0,.1);
border-radius: .5rem;
margin: .5rem 0;
width: 100%;
}

.inputLog:focus{
border-color: var(--clearColor4);
}