:root{
    --clearColor1:#EAE7DC;  
    --clearColor2:#D8C3A5;  
    --clearColor3:#8E8D8A;  
    --clearColor4:#E98074;  
    --clearColor5:#E85A4F; 
}

.review .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.review .box-container .box{
    flex: 1 1 30rem;
    box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
    border-radius: .5rem;
    padding: 3rem 2rem;
    position: relative;
    border: .1rem solid var(--clearColor2);
}

.review .box-container .box .fa-quote-right{
position: absolute;
bottom: 3rem; right: 3rem;
font-size: 5rem;
color: var(--clearColor1);
}

.review .box-container .box .stars i{
    color: var(--clearColor4);
    font-size: 2rem;
}

.review .box-container .box p{
    color: var(--clearColor3);
    font-size: 1.5rem;
    line-height: 1.5;
    padding-top: 2rem;

}

.review .box-container .box .user{
display: flex;
align-items: center;
padding-top: 2rem;

}

.review .box-container .box .user img{
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 1rem;
    
}

.review .box-container .box .user h3{
    font-size: 2rem;
    color: var(--clearColor5);

}

.review .box-container .box .user span{
    font-size: 1.5rem;
    color: var(--clearColor4);   
}