:root{
    --mainColor: #f06292 ;
    --mainColorLight:#ff94c2;
    --secondColor:#9575cd;
    --textColor: #000000;
    --textColorSecond:#e3f2fd;
    --backgroundColor: #070a1b;
    --borderColor1: #111424;
    --borderColor2: #373b52;
    --bottonColor1: #1AD1DB;
    --selectBack: #00d2ef;
    --secondColor: #7253ed;
}

.detail-container{
    background-color: var(--backgroundColor);
    margin: 25px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.detail-img-container{
    max-width: 50vh;
}

.detail-img-container img{
width: 100%;
}

.detail-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.detail-info h1{
    color: #fafafa;
}

.detail-info h2{
    color: #afafaf;    
}

.detail-info h3{
    color: #686767;
    justify-content: center;
    text-align: center;
}

.detail-info p{
    padding: 5px;
    margin: 5px;
    color: #bdb2b2;
    font-size:small;

}

h4{
    color: var(--borderColor2);
}

.detail-talles{
    display: flex;
    justify-content: space-evenly;
    margin: 22px 0;
}

.detail-talles span{
    cursor: pointer;
    color: blueviolet;
    background: #f1f2f3;
    border-radius: 3px;
    padding: 6px 12px;
}

.btn-onAdd{
    /* width: 100%;
    font-size: 50%;
    justify-content: space-between;
    align-items: center; */
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 46px;
    border-radius: 12px;
    background: linear-gradient(#6787fd, #3f66f5);
    color: #ffffff;
    font-size: 20px;
    letter-spacing: .5px;

}
.finish-buy{
    text-decoration: none;
    color: #ffffff;
}