:root{
    --mainColor: #f06292 ;
    --mainColorLight:#ff94c2;
    --secondColor:#9575cd;
    --textColor: #000000;
    --textColorSecond:#e3f2fd;
    --backgroundColor: #070a1b;
    --borderColor1: #111424;
    --borderColor2: #373b52;
    --bottonColor1: #1AD1DB;
    --selectBack: #00d2ef;
    --secondColor: #7253ed;

    
        --clearColor1:#EAE7DC;  
        --clearColor2:#D8C3A5;  
        --clearColor3:#8E8D8A;  
        --clearColor4:#E98074;  
        --clearColor5:#E85A4F;
    
}

.detail-container{
    top: 100px;
    position: absolute;
    background-color: var(--clearColor1);
    margin: 25px;
    padding: 25px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
}

.detail-img-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.detail-img-container img{
    justify-content: center;
width: 100%;
}

.detail-info-container{
    padding: 2rem;
    justify-content: center;
    align-items: center;
}

.detail-info{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.detail-info h1{
    color: var(--clearColor5);
}

.detail-info h2{
    color: var(--clearColor4);    
    font-size: 1rem;
}

.detail-info h3{
    margin-top: 1rem;
    padding-top: 1rem;
    color: var(--clearColor5);
    justify-content: center;
    padding: .5rem 0;
    font-size: 2rem;
}

.detail-info p{
    padding: .5rem 0;
    color: var(--clearColor3);
    font-size:small;

}

.btn-onAdd{
    text-decoration: none;
    cursor: pointer;
    width: 100%;
    height: 46px;
    border-radius: 12px;
    background: var(--clearColor5);
    color: #ffffff;
    font-size: 20px;
    letter-spacing: .5px;

}
.finish-buy{
    text-decoration: none;
    color: #ffffff;
}