@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Press+Start+2P&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --mainColor: #f06292 ;
    --mainColorLight:#ff94c2;
    --secondColor:#9575cd;
    --textColor: #000000;
    --textColorSecond:#e3f2fd;
}



.home{
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: url(../../assets/arno-smit-qY_yTu7YBT4-unsplash.jpg) no-repeat;
    background-size: cover;
    background-position: center;
}



.btn-extra{
    display: inline-block;
    margin-top: 1rem;
    border-radius: 5rem;
    background: #333;
    color: #fff;
    padding: 0.9rem 2.5rem;
    font-size: 1rem;
}

.btn-extra:hover{
    background: violet;
}

.home .content{
min-width: 50rem;
padding-left: 3rem;
}

.home .content h3{
font-size: 3rem;
color: #333;
}

.home .content span{
font-size: 1.5rem;
color: rgb(230, 111, 184);
padding: 1rem 0;
line-height: 0.1;
}

.home .content p{
font-size: .8rem;
color: #999;
width: 35%;
padding:  .5rem 0;

}
/* 
div .greeting-container{
    display: grid;
    grid-template-columns: 5fr 3fr;
    width: 100%;
    text-align: center;
    background-image: url(../../assets/untitled4.png);
    background-size: 100%;    
    height: 70vh;
}

div.greeting-text-container{
    
    justify-content: center;
    align-items: center;
    margin-top: 20%;
    height: 70%;
}

div.greeting-text-box{
    text-align: center;
}

h1.greeting-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: var(--mainColorLight);
}

span.greeting-subtitle {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: var(--textColorSecond);
    margin-top: 10%;
    padding-top: 10%;
}

.greeting-btns{
    display: flex;
    flex-direction: row;    
    gap: 2rem;
    justify-content: center;
}

.all-btn{
    padding: 10px;
    cursor: pointer;
    background: transparent;
    font-size: 1rem;
    color: var(--mainColorLight);
    margin: 1;
    border: 2px solid var(--mainColorLight);
    border-radius: 25px;
}

.off-btn{
    padding: 10px;
    cursor: pointer;
    background-color: var(--mainColorLight);
    font-size: 1rem;
    color: var(--secondColor);
    margin: 1;
    border: 2px solid var(--mainColorLight);
    border-radius: 25px;
}


div.image-container{
    padding: 5%;
    margin: 10%;  
    height: 70vh;
}

img.product-image{
    max-width: 90%;
    max-height: 90%;
}  */

/*-----------------------------------------------------------------*/

/* @media only screen and (max-width: 768px){
    
    h1.greeting-title {
    font-size: 25px;
    }
    
    span.greeting-subtitle   {
        font-size: 5px;
    }
} 

/* ------------------------------------------------------------------ */
/* OPCION B */
/* @import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@800&family=Press+Start+2P&display=swap');


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root{
    --mainColor: #f06292 ;
    --mainColorLight:#ff94c2;
    --secondColor:#9575cd;
    --textColor: #000000;
    --textColorSecond:#e3f2fd;
    --backgroundColor: #070a1b;
    --borderColor1: #111424;
    --bottonColor1: #1AD1DB;
    --selectBack: #00d2ef;
    --secondColor: #7253ed;


}

div .container{
    display: grid;
    grid-template-columns: 5fr 3fr;
    width: 100%;
    text-align: center;
    background-color: var(--backgroundColor);
    background-size: 100%;
    
}

div.text-container{
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-top: 30%;
}

div.text-box{
    text-align: center;

}

h1.greeting-title {
    font-family: 'Orbitron', sans-serif;
    font-size: 50px;
    color: var(--bottonColor1);
    
}

span.greeting-subtitle {
    font-family: 'Press Start 2P', cursive;
    font-size: 10px;
    color: var(--textColorSecond);
    margin-top: 10%;
    padding-top: 10%;
    
}

.greeting-btns{
    display: flex;
    flex-direction: row;    
    gap: 2rem;
    justify-content: center;
}

.all-btn{
    padding: 10px;
    cursor: pointer;
    background: transparent;
    font-size: 1rem;
    color: var(--bottonColor1);
    margin: 1;
    border: 2px solid var(--bottonColor1);
    border-radius: 25px;
}

.off-btn{
    padding: 10px;
    cursor: pointer;
    background-color: var(--bottonColor1);
    font-size: 1rem;
    color: var(--backgroundColor);
    margin: 1;
    border: 2px solid var(--borderColor1);
    border-radius: 25px;
}


div.image-container{
    padding: 5%;
    margin: 10%;

    
}

img.product-image{
    
    max-width: 90%;
    max-height: 90%;
}

.list-gallery{
    background-color: var(--backgroundColor);
}



@media only screen and (max-width: 768px){
    h1.greeting-title {
    font-size: 25px;
    }
    span.greeting-subtitle   {
        font-size: 5px;
    }
} */

