@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    outline: none;
    border: none;
    text-decoration: none;
    transition: .2s linear;
}

:root{
    --mainColor: #f06292 ;
    --mainColorLight:#ff94c2;
    --secondColor:#9575cd;
    --textColor: #000000;
    --textColorSecond:#e3f2fd;
    
    /* opcion2 */
    --varColo1:#0B0C10;        
    --varColo2:#1F2833;        
    --varColo3:#C5C6C7;        
    --varColo4:#66FCF1;        
    --varColo5:#45A29E;        

    --palette1: #2C3531;
    --palette2: #116466;
    --palette3: #D9B08C;
    --palette4: #FFCB9A;
    --palette5: #D1E8E2;

    --dynamic1: #2F4454;
    --dynamic2: #2E151B;
    --dynamic3: #DA7B93;
    --dynamic4: #376E6F;
    --dynamic5: #1C3334;

    --coffe1: #88BDBC;
    --coffe2: #254E58;
    --coffe3: #112D32;
    --coffe4: #4F4A41;
    --coffe5: #6E6658;

    --monocromoazul1: #17252A;
    --monocromoazul2: #2B7A79;
    --monocromoazul3: #3AAFA9;
    --monocromoazul4: #DEF2F1;
    --monocromoazul5: #FEFFFF;

    --vioYama1: #FAED26;
    --vioYama2: #46344E;
    --vioYama3: #5A5560;
    --vioYama4: #9D8D8F;
    --vioYama5: #9B786F;

    --clearColor1:#EAE7DC;  
    --clearColor2:#D8C3A5;  
    --clearColor3:#8E8D8A;  
    --clearColor4:#E98074;  
    --clearColor5:#E85A4F; 
}

.nav-header{
    text-transform: capitalize;

    z-index: 1;
    position: sticky;
    top: 0;
    width: 100%;
}


div.nav-general{
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 1.5rem;
    background-color: var(--clearColor2);
    color: var(--clearColor3);
}

div .promo{
    background-color: var(--clearColor4);
    color: var(--clearColor1);
    padding: 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
}
    
header div .btn-log:hover{
     color: var(--clearColor4);
}

.logo{
    color: var(--clearColor5);
}

nav a{
    margin: 0 1.5rem;
    color: var(--clearColor3);
    text-decoration: none;
}

nav a:hover{
    color: var(--clearColor4);
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--clearColor4);
    visibility: hidden;
    opacity: 0;
    font-size: 1.3rem;
}

header div .btn-log{
    padding: 5px;
    margin-right: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--clearColor4);
    font-size: 1rem;
}

/*--------------------------------------------------------*/

@media only screen and (max-width: 768px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);
    }

    header .responsive_nav{
        transform: none;
    }

    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a{
        font-size: 1.5rem;
    }

}

/* ----------------------------------------------- */
/* OPCION B */

/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

:root{
    --mainColor: #f06292 ;
    --mainColorLight:#ff94c2;
    --secondColor:#9575cd;
    --textColor: #000000;
    --textColorSecond:#e3f2fd;
    --backgroundColor: #070a1b;
    --borderColor1: #111424;
    --bottonColor1: #1AD1DB;
    --selectBack: #00d2ef;
    --secondColor2: #7253ed;
}

div.nav-general{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    padding: 0 1.5rem;
    background-color: var(--selectBack);
    color: var(--backgroundColor);

}

div .promo{
    background-color: var(--borderColor1);
    color: var(--textColorSecond);
    padding: 5px;
    display: inline-block;
    width: 100%;
    text-align: center;
    
    }
    
header div .btn-log:hover{
     color: var(--backgroundColor);
}

nav a{
    margin: 0 1.5rem;
    color: var(--backgroundColor);
    text-decoration: none;

}

nav a:hover{
    color: var(--secondColor);
}

header .nav-btn{
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--textColor);
    visibility: hidden;
    opacity: 0;
    font-size: 1.3rem;
}

.dropdown{
    position: relative;
}
.dropdown-menu{
    position: relative;
}

header div.nav-log{

}
header div .btn-log{
    padding: 5px;
    margin-right: 20px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: var(--backgroundColor);
    font-size: 1rem;
}


@media only screen and (max-width: 768px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }

    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: var(--mainColor);
        transition: 1s;
        transform: translateY(-100vh);

    }

    header .responsive_nav{
        transform: none;
        
    }

    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }

    nav a{
        font-size: 1.5rem;
    }

} */