*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

.body{
    height: auto;
    margin: 1rem 0;
    display: grid;
    place-items: center;
    background: #fafafa;
    font-family:'Roboto', sans-serif;
}

.card{
    position: relative;
    width: 380px;
    height: min-content;
    padding: 25px;
    background: #ffffff;
    border: 2px solid #e1e3e6;
    border-radius: 20px;
    transition: .4s;
}

.card:hover{
    border-color: #ffffff;
    transform: translateY(-10px);
    box-shadow: 0 5px 12px rgba(0,0,0,.08);
}

.card .card-header h3{
    color: rgb(97, 170, 142);
    font-size: 28px;
}

.card .card-header p{
    color: rgb(137, 151, 146);
    font-size: 20px;
}

.card .card-header span{
    position: absolute;
    color: #f43c3c;
    background-color: #fef0f0;
    right: 25px;
    top: 25px;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 18px;
}

.card .card-img {
    position: relative;
    height: 220px;
    border-radius: 12px;
    margin: 22px 0;
    overflow: hidden;
}

.card .card-img img {
    width: 100%;
    transition: .4s;
}

.card .card-img i{
    color: transparent;
}

.card:hover .card-img img{
    transform: scale(1.01);
}

.card:hover .card-img i{
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #758a82;
    background: none;
    padding: 6px;
}

.card .card-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .card-details .price p{
    color: #758a82;
    font-size: 20px;
}

.card .card-details .price strong{
    color: #3b3b3b;
    font-size: 22px;
}

.card .card-details .colors{
    display: flex;
}

.card .card-details .colors div{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 4px;
}

.card .card-details .colors div:nth-child(1){
    background: linear-gradient(90deg, #b72c31, #efb9b0);
}

.card .card-details .colors div:nth-child(2){
    background: linear-gradient(90deg, #25476d, #a8bed2);
}

.card .card-details .colors div:nth-child(3){
    background: linear-gradient(90deg, #10505b, #a4beb2);
}

.card .card-details .colors div i{
    color: #ffffff;
    margin: 5px;
    font-size: 25px;
    opacity: 0;
}

.card .card-details .colors div.selected i{
    opacity: 1;
}

.card .card-sizes{
    display: flex;
    justify-content: space-between;
    margin: 22px 0;
}

.card .card-sizes span{
    cursor: pointer;
    color: blueviolet;
    background: #f1f2f3;
    border-radius: 3px;
    padding: 6px 12px;
}

.card .card-sizes span.selected{
    color: darkblue;
    background: #d5defe;
}

.card .card-footer button{
    cursor: pointer;
    width: 100%;
    height: 46px;
    border-radius: 12px;
    background: linear-gradient(#0b6e27, #105b32);
    color: #ffffff;
    font-size: 20px;
    letter-spacing: .5px;
}

.btn-detail button{
    text-decoration: none;
    cursor: pointer;
    padding: 0 .5rem;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 46px;
    border-radius: 12px;
    background: linear-gradient(#0b6e27, #105b32);
    color: #ffffff;
    font-size: 16px;
    letter-spacing: .5px;
}

.btn-detail button .detail{
    text-decoration: none;
    color: #fafafa;
}

.card .card-count{
    width: 100%;
}

/* --------------------------------------------------------------------------------------------- */
/* OPCION 2 */


/* :root{
    --backgroundColor: #070a1b;
    --backgroundColor2: #0e122b;
    --borderColor1: #111424;
    --bottonColor1: #1AD1DB;
    --selectBack: #5fbeca;
    --secondColor: #7253ed;
}

*{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    box-sizing: border-box;
}

.body{
    height: auto;
    margin: 1rem 0;
    display: grid;
    place-items: center;
    background:none;
    font-family:'Roboto', sans-serif;
}

.card{
    position: relative;
    width: 380px;
    height: min-content;
    padding: 25px;
    background: var(--backgroundColor2);
    border: 2px solid var(--borderColor1);
    border-radius: 20px;
    transition: .4s;
}

.card:hover{
    border-color: #ffffff;
    transform: translateY(-10px);
    box-shadow: 0 5px 12px rgba(185, 185, 185, 0.08);
}
*/

/* .card .card-header h3{ */
    /* color: rgb(97, 170, 142); */
    /* color:var(--bottonColor1);
    font-size: 28px;
}

.card .card-header p{ */
    /* color: rgb(137, 151, 146); */
    /* color: var(--selectBack);
    font-size: 20px;
} */

/* .card .card-header span{
    position: absolute;
    color: #f43c3c;
    background-color: #fef0f0;
    right: 25px;
    top: 25px;
    padding: 5px 10px;
    border-radius: 12px;
    font-size: 18px;
}

.card .card-img {
    position: relative;
    height: 220px;
    border-radius: 12px;
    margin: 22px 0;
    overflow: hidden;
    
}

.card .card-img img {
    width: 100%;
    transition: .4s;
}

.card .card-img i{
    color: transparent;
}

.card:hover .card-img img{
    transform: scale(1.01);
}

.card:hover .card-img i{
    cursor: pointer;
    position: absolute;
    top: 12px;
    right: 12px;
    color: #758a82;
    background: none;
    padding: 6px;

}

.card .card-details{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card .card-details .price p{
    color: #758a82;
    font-size: 20px;
}

.card .card-details .price strong{
    color: #3b3b3b;
    font-size: 22px;
}

.card .card-details .colors{
    display: flex;
}

.card .card-details .colors div{
    cursor: pointer;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin: 0 4px;
}

.card .card-details .colors div:nth-child(1){
    background: linear-gradient(90deg, #b72c31, #efb9b0);
}

.card .card-details .colors div:nth-child(2){
    background: linear-gradient(90deg, #25476d, #a8bed2);
}

.card .card-details .colors div:nth-child(3){
    background: linear-gradient(90deg, #10505b, #a4beb2);
}

.card .card-details .colors div i{
    color: #ffffff;
    margin: 5px;
    font-size: 25px;
    opacity: 0;
}

.card .card-details .colors div.selected i{
    opacity: 1;
}

.card .card-sizes{
    display: flex;
    justify-content: space-between;
    margin: 22px 0;
}

.card .card-sizes span{
    cursor: pointer;
    color: blueviolet;
    background: #f1f2f3;
    border-radius: 3px;
    padding: 6px 12px;

}

.card .card-sizes span.selected{
    color: darkblue;
    background: #d5defe;
}

.card .card-footer button{
    cursor: pointer;
    width: 100%;
    height: 46px;
    border-radius: 12px;
    background: linear-gradient(#0b6e27, #105b32);
    color: #ffffff;
    font-size: 20px;
    letter-spacing: .5px;
}




.btn-detail button{
    text-decoration: none;
    cursor: pointer;
    padding: 0 .5rem;
    text-align: center;
    justify-content: center;
    width: 100%;
    height: 46px;
    border-radius: 12px;
    background: linear-gradient(#0b6e27, #105b32);
    color: #ffffff;
    font-size: 16px;
    letter-spacing: .5px;
}



.btn-detail button .detail{
    text-decoration: none;
    color: #fafafa;
}


.card .card-count{
    width: 100%;
} */