:root{
    --varColo1:#0B0C10;        
    --varColo2:#1F2833;        
    --varColo3:#C5C6C7;        
    --varColo4:#66FCF1;        
    --varColo5:#45A29E;  

    --clearColor1:#EAE7DC;  
    --clearColor2:#D8C3A5;  
    --clearColor3:#8E8D8A;  
    --clearColor4:#E98074;  
    --clearColor5:#E85A4F;  
}

.home{
    display: flex;
    
    align-items: center;
    min-height: 100vh;
    /* background: var(--clearColor1); */
    background: url(https://i.postimg.cc/wjsPSvc0/undraw-Add-to-cart-re-wrdo.png) no-repeat;
    background-size:contain ;
    background-position:70vh -3vw;
    padding: 4rem;
}

.btn-extra{
    display: inline-block;
    /* margin-top: 1rem; */
    border-radius: 5rem;
    background: var(--clearColor4);
    color: var(--clearColor1);
    padding: 0.9rem 2.5rem;
    font-size: 1rem;
}

.btn-extra:hover{
    background: var(--clearColor5);
    color: var(--clearColor1);
}

.content{
    min-width: 50rem;
    padding-left: 5rem;
    padding-top: 5rem;
    }
    
    .home .content h3{
    font-size: 3rem;
    color: var(--clearColor5);
    }
    
    .home .content span{
    font-size: 1.5rem;
    color: var(--clearColor4);
    padding: 1rem 0;
    line-height: 0.1;
    }
    
    .home .content p{
    font-size: .8rem;
    color: var(--clearColor3);
    width: 35%;
    padding:  .5rem 0;
    
    }

div .inicio{
    display: flex;
    flex-wrap: wrap;
}

div .inicio h4{
    padding: 1rem;
}

.btn-cerrarSesion{
     display: inline-block;
    border-radius: 5rem;
    background: var(--clearColor4);
    color: var(--clearColor1);
    padding: 0.5rem 1rem;
    font-size: .7rem;
}



@media (max-width:991px){
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
    section{
        padding: 2rem;
    }
    .home{
        background-position: left;
    }
    .home .content h3{
        font-size: 5rem;
    }
    .home .content span{
        font-size: 5rem;
    }
}