:root{
    --mainColor: #f06292 ;
    --mainColorLight:#ff94c2;
    --secondColor:#9575cd;
    --textColor: #000000;
    --textColorSecond:#e3f2fd;
    --backgroundColor: #070a1b;
    --borderColor1: #111424;
    --bottonColor1: #1AD1DB;
    --selectBack: #00d2ef;
    --secondColor: #7253ed;
}

/* .contact-body{
    background-color: var(--secondColor);
    color: #FAFAFA;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.1rem;
}
input,
textarea{
    border: thin solid #dedede;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    outline: none;
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1;
    border-color: transparent;
}

textarea{
    font-family: inherit;
    resize: none;
    height: 150px;
    width: 75vh;
} */

/* -------- re estilizado ---------- */
.contact{
    padding: 2rem;
}

.contact .row{
    display: flex;
    flex-wrap: wrap-reverse;
    gap: .5rem;
    align-items: center;
}

.contact .row form{
flex: 1 1 40rem;
padding: 2rem 2.5rem;
box-shadow: 0 .5rem 1.5rem rgba(0,0,0,.1);
border: .1rem solid rgba(0,0,0,.1);
background: #fff;
border-radius: .5rem;}

.contact .row .contact-image-container{
flex: 1 1 40rem;

}
.contact .row .contact-image-container img{
width: 100%;
}

.contact .row form .box{
padding: 1rem;
font-size: 1.5rem;
color: #333;
text-transform: none;
border: .1rem solid rgba(0,0,0,.1);
border-radius: .5rem;
margin: .7rem 0;
width: 100%;

}

.contact .row form .box:focus{
border-color: #f06292;

}

.contact .row form textarea{
height: 15rem;
resize: none;

}