:root{
    --mainColor: #f06292 ;
    --mainColorLight:#ff94c2;
    --secondColor:#9575cd;
    --textColor: #000000;
    --textColorSecond:#e3f2fd;
    --backgroundColor: #070a1b;
    --borderColor1: #111424;
    --bottonColor1: #1AD1DB;
    --selectBack: #00d2ef;
    --secondColor: #7253ed;
}

.contact-body{
    background-color: var(--secondColor);
    color: #FAFAFA;
    height: 50vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.1rem;
}
input,
textarea{
    border: thin solid #dedede;
    border-radius: 0.25rem;
    padding: 0.75rem;
    margin-bottom: 1rem;
    outline: none;
    display: block;
    width: 100%;
    font-size: 1rem;
    line-height: 1;
    border-color: transparent;

    /* margin: 5px;
    padding: 5px; */
}

textarea{
    font-family: inherit;
    resize: none;
    height: 150px;
    width: 75vh;
}