:root{
    --backgroundColor: #070a1b;
    --borderColor1: #111424;
    --bottonColor1: #1AD1DB;
    --selectBack: #00d2ef;
    --secondColor2: #7253ed;
}

.galery{
    display: grid;
    gap: 1rem;
    grid-auto-rows: 22rem;
    grid-template-columns: repeat (auto-fit, minmax(15rem, 1fr) );
    /* probar autofil y autofit */

}